body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #7573f4;
    /* Light background */
    padding: 0 20px;
}

.test-container {
  text-align: center;
  padding: 50px;
    border: 2px solid #cccccc;
    border-radius: 8px;
    background-color: rgb(198, 201, 185);
      box-shadow: 0 0 15px rgba(244, 241, 241, 0.1);
  width: 100%;
  max-width: 600px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

ol {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

ol li {
  font-size: 1.1rem;
  margin: 10px 0;
}

.item_passed {
  color: green;
}

.item_failed {
  color: red;
}

.summary {
  font-size: 1.2rem;
  margin-top: 40px;
  font-weight: bold;
}

.summary_text {
  font-size: 1.3rem;
  font-weight: bold;
}
.item_failed:hover {
  color: rgb(255, 0, 217);
  cursor: pointer;
  font-size: 65px;
}