body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
    /* Light background */
    padding: 0 20px;
}

.test-container {
  text-align: center;
  padding: 30px;
  border: 2px solid #ccc;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

ol {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

ol li {
  font-size: 1.1rem;
  margin: 10px 0;
}

.item_passed {
  color: green;
}

.item_failed {
  color: red;
}

.summary {
  font-size: 1.2rem;
  margin-top: 20px;
  font-weight: bold;
}

.summary_text {
  font-size: 1.3rem;
  font-weight: bold;
}